<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link href="/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/Train_pic - Copy.png"></body>
            <p>Hello, my name is Gerardo Abaunza! I am self taught when it comes to aspects related to web development. This website was a small project with the purpose of practicing Node.js, Express, dynamic pages, building endpoints, and fetch requests!</p>
            <p>Two APIs are used in this project. Their links are provided below, so check them out!</p>
            <ul>
                <li><a class="apiLink" href="https://www.mapbox.com/">Mapbox (used for locating places with coordinates)</a></li>
                <li><a class="apiLink" href="https://weatherstack.com/">Weatherstack(used to get forecast based on coordinates)</a></li>
            </ul>
            
</div>
        {{>footer}}
    </body>
</html>