<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link href="/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{message}}</p>
            <ul>
                <li>When inputting a location, if your desired location does not appear, specify the specific country or city. Ex: Bogota, Colombia</li>
                <br>
                <li>If it is unable to provide a location, please try to make sure you are typing in a valid location that exists. Remember to specify the country if you have to.</li>
            </ul>
            
        </div>
        {{>footer}}
    </body>
</html>